@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("SendForm", "Home", FormMethod.Post))
{
    <div class="jumbotron" style="margin-top: 50px;">
        <h1 style="margin-bottom: 0;">Todd's Cloud Services Sample</h1>
        <h3 style="margin-left: 20px; margin-top: 0;">For RBA</h3>
        <p class="lead" style="margin-top: 25px;">How to use this sample</p>
        <ol class="lead" style="margin-top: 25px; font-style: normal; font-size: medium;">
            <li>Enter a message into the text box below and click the Send button</li>
            <li>Your message will be queued up and processed by the worker role</li>
            <li>The worker role will insert the message into Azure Table Storage</li>
            <li>All of the stored messages are listed at the bottom of the page</li>
            <li>Click Refresh to reload the list</li>
        </ol>
    </div>
    
    <div style="margin-top: 50px; margin-bottom: 50px; width: 100%;">
        <p>Enter your message here and click Send</p>
        @Html.TextBox("message", "", new { style = "width: 600px" })
        <button type="submit" id="btnSave">Send</button>
    </div>

    <div>
        <p>Messages retreived from the Table Store <a class="refreshlink" style="margin-left: 50px;" name="refreshlink" id="refreshlink" href="#">Refresh</a> </p>

        <ul style="list-style-type:disc" id="msglist">
        </ul>
    </div>
}

<script type="text/javascript">

    function poplist() {

        $.getJSON("/Home/GetMessages",
            function (mydata) {

                var select = $("#msglist");
                select.empty();

                $.each(mydata,
                    function (index, itemData) {
                        select.append($('<li>', { text: itemData.RowKey }))
                });
            }
        );
    }

    function loadControls(jQuery) {

        poplist();

        $('.refreshlink').click(function () {
            poplist();
        });
    };

</script>
